<h1>Editing political group</h1>

<%= render "form", political_group: @political_group %>

<br>

<div>
  <%= link_to "Show this political group", @political_group %> |
  <%= link_to "Back to political groups", political_groups_path %>
</div>
