<p style="color: green"><%= notice %></p>

<h1>Euro areas</h1>

<div id="euro_areas">
  <% @euro_areas.each do |euro_area| %>
    <%= render euro_area %>
    <p>
      <%= link_to "Show this euro area", euro_area %>
    </p>
  <% end %>
</div>

<%= link_to "New euro area", new_euro_area_path %>
