<h1>Editing member state</h1>

<%= render "form", member_state: @member_state %>

<br>

<div>
  <%= link_to "Show this member state", @member_state %> |
  <%= link_to "Back to member states", member_states_path %>
</div>
