<p style="color: green"><%= notice %></p>

<h1>Schengen areas</h1>

<div id="schengen_areas">
  <% @schengen_areas.each do |schengen_area| %>
    <%= render schengen_area %>
    <p>
      <%= link_to "Show this schengen area", schengen_area %>
    </p>
  <% end %>
</div>

<%= link_to "New schengen area", new_schengen_area_path %>
